*{
  font-weight: bolder;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url(../images/make-you-a-logo-banner-or-a-header-for-social-media-or-yt.jpg);

}
.aboutUS{
    
    width:200px;
    border:double 1px;
    margin:auto;
    margin-left: 200px;
    
    display:block;
    color: tomato;
    margin-left: auto;
}
.navbar{
    height:75px;
    width: 100%;
    background-image:url(../images/images.jpg);
    overflow: hidden;
    padding-top: 20px;
    
}
.navl{ 
    display: block;
    text-decoration: none;
    list-style: none;
}
.navi{
    padding-left :2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    padding-right: 10px;
    text-decoration: none;
    color:white;
    display: block;
    font-size: 25px;  
    float:left;
    margin-right:10px;
    margin-top: 2x;
}
.navi:hover{
    color:white;
    cursor:pointer;
    background-color: burlywood;
    border:solid 3px;
    border-radius: 5px;
    border-color: beige;
}
.item_shop {
    text-align: center;
    float:left;
}

.title
{   display: block;

    width: 100%;

    padding-left: 20px;
    text-decoration: none;
    color: red;
}
.container {
    margin: auto;
    width: 65%;
    padding-left: 40px;
    text-decoration:none;
    margin-left: 30px;
    border-style: solid;
    border-width: 5px;
    border-color:red;
    background:none;
    margin-right:8px;
    border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 20px;
    
}

.search{
    float: right;
    float: right;
    padding: 6px;
    margin-top: -2px;
    width:220px;
    margin-right: 16px;
    font-size: 17px;
    overflow: hidden;
    background-color: red;
    border-radius: 10px;
    font-weight: lighter;
}
.item_shop { 
    background-color:aqua;
    display:block;
    margin-left:10px;
    margin-top:10px;
    margin-right: 20px;
    margin-bottom: 10px;
    position:relative;
    border-style: solid;
    border-width:4px;
    border-color: black;
    border-radius: 10px;
    
}
button{
    display: block;
    margin-left:55px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
    background-color:aqua;
    text-decoration: none;
    
}
button:hover{
    background-color: cornflowerblue;
    cursor: pointer;    
} 
div {
    align-items: center;
    float:left;        
}
.image{
    height:200px;
    width: 200px;
}
.navir{
    margin-right:-40px ;
    margin: 1px;
    margin-right:10px;
    margin-top: 2px;
    padding-left :2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    padding-right: 10px;
    text-decoration: none;
    color:white;
    display: block;
    font-size: 25px; 
    float: right;
}
.navir:hover{
    color:white;
    cursor:pointer;
    background-color: burlywood;
    border:solid 3px;
    border-radius: 5px;
    border-color: beige;
}
.line{
  display: block ;
  margin-top: 5px;
  height: 5px;
  width: 100%;
  background-color: red;
  margin: auto;
  width: 76%;
  margin-bottom: 25px;
  padding-left: 50px;
  text-decoration:none;
  margin-left: 160px;
  border-radius:10px;
 
}
.cart_place{
  float: right;
  height: auto;
  position: relative;
  display: block;
  margin-left:0px;
  background-color: skyblue;
  border-radius: 10px;
  border-style: solid;
  border-color: silver;
  width: 27%;
  height: 50%;

}
.shop_items{
  float: left;
  display:block;
  
}


